.card-wrapper.media-card {
    margin: 10px;
    overflow: hidden;
}

.card-content.media-card {
    width: 320px;
    min-width: 320px;
    height: 400px;
    min-height: 400px;
    min-height: 300px;
    background-color: grey;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 5px 4px rgba(10,10,10,.6);
    padding: 10px 0 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}


.card-content.media-card {
    /* border: 1px solid black; */
}

.result-header {
    margin: 15px 5px 3px;
}

.sub-header {
    font-style: italic;
    margin: 0;
}

.media-card > .card-header {
    display: flex;
    flex-flow: column nowrap;
    /* margin-bottom: 10px; */
}

.media-card > .card-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 0;
}

.image-wrapper {
    margin: 0;
    width: 320px;
}

.media-image {
    max-width: 90%;
    max-height: 310px;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(10,10,10, .7);
}

.media-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.media-info > p {
    margin: 0;
}